#tocart
{
  background-color: green;
  height: 1cm;
  width: 3cm;
  color: white 
}
table
{
  border-collapse :collapse;
}
table,th,td
{
  border: 1px solid black;
  text-align: center;
  height: 50px;
  padding: 15px;
}