

  <!-- <li><a routerLink='getProducts'>Products</a></li> -->
  <div class="topnav" id="myTopnav">
      <a href="#home" class="active">Home</a>
      <a routerLink='getCategories'>Category</a>
      <a routerLink='getProducts'>All Products</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
      <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="login"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
          <li><a routerLink='mycart'><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
     </ul>
  </div>
  <table>
      <tr>
          <ng-container *ngFor= 'let cats of cat'>
              <td>
                  <a [routerLink]="['/category',cats.subCategory]">
                    <img src='.\assets\images\{{cats.imageURL}}' height="100px" width="100px"/>
                  </a>
                <br>
                {{cats.category}}
              </td> 
          </ng-container>
      </tr>
  </table>
  
 

      
      